.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  &__content {
    margin-bottom: 30px;
    color: $gray-500;
    display: flex;
    flex-direction: column;
    align-items: center;

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: $gray-900;
      margin-bottom: 20px;
    }
  }
}
