* {
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: $body-bg;
  color: $body-color;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

h1 {
  font-size: 3rem;

  @media (max-width: 768px) {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 2.5rem;
  @media (max-width: 768px) {
    font-size: 2.3rem;
  }
}

h3 {
  font-size: 2.3rem;
  @media (max-width: 768px) {
    font-size: 2.1rem;
  }
}

h4 {
  font-size: 2rem;
  @media (max-width: 768px) {
    font-size: 1.7rem;
  }
}

h5 {
  font-size: 1.7rem;
  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}

h6 {
  font-size: 1.3rem;
  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

a {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

button {
  border: none;
  padding: 5px 3px;
  border-radius: 15px;
  background-color: $body-color;
  cursor: pointer;
}

button:hover {
  box-shadow: inset 0 0 0 10em $button-hover-color;
}

button.darken:hover {
  box-shadow: inset 0em 0em 0em 10em $button-darken-hover-color;
}

p {
  margin: 0;
}

.text-muted {
  color: $gray-700;
}

.text-italic {
  font-style: italic;
}

.text-justify {
  text-align: justify;
}

.icon {
  font-size: 1rem;
}

.play-button {
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include box-shadow-play-button();

  & .icon {
    margin-left: 5px;
    font-size: 5rem;
    color: $gray-400;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(225, 225, 225);
  border-radius: 30px;
}

.media-badge {
  display: inline;
  padding: 5px;
  color: $white;
  border-radius: 2px;
  margin: 0 5px;

  @media (max-width: 768px) {
    padding: 2px;
  }

  &--vod {
    background-color: $success;
  }

  &--live {
    background-color: $danger;
  }

  &--episode {
    background-color: $secondary;
  }

  &--series {
    background-color: $primary;
  }
}

.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__code {
    font-size: 6rem;
  }

  &__text {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5rem;
  }

  &__go-home {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 700;
  }
}
