.header {
  width: 100%;
  height: 80px;
  display: flex;
  padding: 0 30px;
  position: fixed;
  z-index: 1000;

  &--inverted {
    border-bottom: 1px solid $gray-800;
    background-color: $black;
  }

  &__nav {
    flex-grow: 1;
  }

  &__now-playing {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    font-size: 1.6rem;
    font-weight: 200;
    padding-top: 3px;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__go-back {
    background-color: transparent;
    color: $white;

    &:hover {
      box-shadow: none;
    }

    & .icon {
      font-size: 2rem;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  &__img {
    max-height: 100%;
    padding: 20px;
  }

  &__text {
    font-size: 1.8rem;

    @media (max-width: 768px) {
      font-size: 1.3rem;
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  $this: &;

  &--toggled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3000;
    background-color: $black;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    #{$this}__categories {
      padding: 0;
      display: flex;
      flex-direction: column;
    }

    #{$this}__toggle-menu {
      display: none;
    }

    #{$this}__hide-menu {
      display: flex;
      position: absolute;
      top: 25px;
      right: 35px;
    }

    #{$this}__account-button {
      display: flex;
    }
  }

  &__categories {
    display: flex;
    list-style-type: none;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__toggle-menu,
  &__hide-menu {
    cursor: pointer;
    & .icon {
      font-size: 2rem;
    }
  }

  &__toggle-menu {
    display: none;

    @media (max-width: 768px) {
      display: flex;
    }
  }

  &__hide-menu {
    display: none;
  }

  &__category {
    margin: 0 5px;
    font-weight: 300;

    &:hover {
      font-weight: 500;
    }
  }

  &__account-button {
    margin-left: 20px;
    & a {
      display: flex;
      padding: 10px 30px;
      font-weight: 600;
      text-transform: uppercase;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }
}
